.covid-container{
    width:100%;
    background-color:white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.covidimg{
    width:100%
}
.mssg2{
    color:#DC493A;
    font-size: 30px;
    text-align: center;
    font-weight: 900;
}
.covid-img-container{
    width:50%;
}
.mss2-sub{
    font-size: 19;
    color:#DC493A;
    text-align: center;
}
.covid-mssg{
    width:50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}